@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

.ff_plus_jakarta {
    font-family: "plus jakarta Sans";
}

.ff_barlow_condensed {
    font-family: "barlow condensed";
}

.card_bg {
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(50px);
}

.bg_color {
    background-color: #f8f8f8;
}

.email_card {
    border: 1px solid rgba(255, 255, 255, 0.56);
    background: rgba(17, 17, 17, 0.50);
    backdrop-filter: blur(11.5px);
}

.email_box {
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.card_1 {
    background: #FFF;
    box-shadow: -4px 17px 39px 0px rgba(0, 0, 0, 0.12);
}

.bg-gradient-main {
    background: linear-gradient(248.43deg, #B80FB6 -51.42%, #553581 66.54%);
}

.bg-gradient-main:hover {
    background: linear-gradient(248.43deg, #553581 -51.42%, #B80FB6 66.54%);
}

.Box_Shadow_Bg {
    box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.06);
}

.Box_Shadow_about {
    box-shadow: 15px 5px 17px 7px rgba(224, 77, 253, 0.12);
}

@media (max-width:1111px) {
    .mt_5 {
        margin-top: 24px;
    }
}