@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

.ff_plus_jakarta {
    font-family: "plus jakarta sans";
}

.ff_barlow_condensed {
    font-family: "barlow condensed";
}

.bg-gradient-main {
    background: linear-gradient(248.43deg, #B80FB6 -51.42%, #553581 66.54%);
}

.bg-gradient-main:hover {
    background: linear-gradient(248.43deg, #553581 -51.42%, #B80FB6 66.54%);
}